LLM_API_KEY=your_llm_api_key_here
LLM_BASE_URL=your_llm_base_url_here
LLM_MODEL_ID=your_llm_model_id_here

TAVILY_API_KEY=your_tavily_api_key_here

LANGSMITH_TRACING=true
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_PROJECT=competitor-analysis-agent

QDRANT_URL=your_qdrant_url_here
QDRANT_API_KEY=your_qdrant_api_key_here